{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>No. of Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% set ttl = [0] %}
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction["symbol"] }}</td>
            <td>{{ transaction["name"] }}</td>
            <td>{{ transaction["quantity"] }}</td>
            <td>{{ "$ %.2f"|format(transaction["priceperunit"]) }}</td>
            <td>{{ transaction["opdatetime"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
